
@import url(http://fonts.googleapis.com/css?family=Lobster|Sigmar+One|Abril+Fatface|Raleway:200);

header {
	text-align: center;
}

article {
	padding: 3.0em 0;
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Abril Fatface', cursive;
	font-weight: 400;
}

h2{
	color:white;
}

p, li, td, figcaption {
	font-size: 1.2em;
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-weight: 700;
}

/* VIDEO */
video#bgvid {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto; height: auto;
	z-index: -100;
	background: url(../images/bokeh-loop.png) no-repeat;
	background-size: cover;
}

/* HEADER */
header {
	height: 240px;
}
footer{
	color:white;
}
header h1 {
	padding-top: 2.0em;
	font-size: 48px;
	color: white;
}

header .tagline {
	color: #efefef;
}


/* BIO */
#bio img {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	display:block;
}
#bio p{
	color:white;
}
#bio:hover{
	opacity: 1.0;
}

#bio h2{
	color:#019ade;
}
#bio h4{
	color:#019ade;
}
p.thicker{
	font-weight: 900;
}

/* WORK */

#bio2 {
	background: #019ade;
	opacity: 0.5;
}
#bio2 img {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	display:block;
}

#bio2:hover{
	opacity: 1.0;
}

#bio2 h2{
	color:white;
}
#bio2 p{
	color:white;
}

#bio22 {
	background: #019ade;
	opacity: 0.5;
}
#bio22 img {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	display:block;
}

#bio22:hover{
	opacity: 1.0;
}

#bio22 h2{
	color:white;
}
#bio22 p{
	color:white;
}

#bio3 img {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	display:block;
}

#bio3:hover{
	opacity: 1.0;
}

#bio3 h2{
	color:white;
}
#bio3 p{
	color:white;
}

#work:hover{
	opacity: 1.0;
}
.work-item {
	height: 300px;
	margin-bottom: 2.0em;
}

/* SKILLS */

#skills {
	background: white;
	opacity:0.5;
}


#skills img {
	width: 580px;
	height: 550px;
	margin: 0 auto;
	display:block;
}

#skills:hover{
	opacity: 1.0;
}

#skills h2{
	color:#019ade;
}


/*footer*/
.panel-footer {
	font-family: 'Raleway', sans-serif;

}

.container1 {
  width: 600px;
  margin: 2em auto;
  overflow: hidden;
  background: white;
  border-radius: 5px;
}

.message1, .contact1, .name1, .footer1, header, footer, textarea {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  clear: both;
  overflow: hidden;
}

.first, .last {
  float: left;
  width: 278px;
  margin: 0;
  padding: 0 0 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 50px;
}

.last {
  width: 279px;
  border-left: 0;
}

.email, textarea {
  height: 50px;
  width: 578px;
  line-height: 50px;
  padding: 0 0 0 20px;
  border-top: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

textarea {
  height: 200px;
}

.footer1 {
  height: 49px;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
  border-radius: 0 0 5px 5px;
  padding-left: 0;
  padding-right: 20px;
}
.footer1 button {
  height: 32px;
  background: #e74c3c;
  border-radius: 5px;
  border: 0;
  margin: 7px 0;
  color: white;
  float: right;
  padding: 0 20px 0 20px;
  border-bottom: 3px solid #c0392b;
  transition: all linear .2s;
}
.footer1 button:hover {
  background: #c0392b;
}
.footer1 button:focus {
  outline: none;
}

.first:focus, .last:focus, .email:focus, textarea:focus, textarea:focus {
  outline: none;
  background: rgba(52, 152, 219, 0.1);
  color: rgba(51, 51, 51, 0.7);
}


.footer-distributed{
	background-color: #019ade;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 35px 40px;
	margin-top: 0px;
}

.footer-distributed .footer-left p{
	color:  white;
	font-size: 14px;
	margin: 0;
}

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #BDC0C1;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}


@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	header {
		display: none;	}

	header h1 {
		display:none;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	#bio img {
		margin: 0;
	}

	header {
		height: 600px;
	}

	header h1 {
		padding-top: 6.0em;
		font-size: 60px;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	header {
		height: 800px;
	}

	header h1 {
		padding-top: 8.0em;
		font-size: 72px;
	}

}
